<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu" > 
            <li data-route="/home" class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>资讯系统</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                  <li class="router-link" data-route="/home" ><a ><i class="fa fa-circle-o"></i>系统首页</a></li>
              </ul>
            </li>
            <li data-route="/movie" class="treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>电影资讯</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="router-link" data-route="/movie/items"><a ><i class="fa fa-circle-o"></i>查看资讯</a></li>
                <li class="router-link" data-route="/movie/publish"><a ><i class="fa fa-circle-o"></i>发布资讯</a></li>
              </ul>
            </li>
            
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>