<div class="box movie-items">
  <div class="box-header with-border">
    <h3 class="box-title">电影详情 <small class="back"><a>返回列表</a></small> </h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
      <h3>{{detail.title}}</h3>
      <div>
        <img width="150" src="{{detail.img}}" alt="">
      </div>
      <p>主演: {{detail.star}}</p>
      <p>上映时间: {{detail.showTime}}</p>
      <p>发布时间: {{detail.publishTime}}</p>
      <div>
        <p>描述：</p>
        {{@ detail.fullDescription }}
      </div>
  </div>
   
</div>